@font-face {
  font-family: "astro-space";
  src: url("webfont.otf");
  src: url("fonts/AstroSpace.ttf") format("truetype");
}

html,
body {
  font-family: Roboto, sans-serif;
  color: #fff !important;
  background-color: #083197 !important;
  margin: 0;
  width: 100%;
  height: 100vh;
}

header {
  color: #323232;
  background-color: #fff;
  width: 100%;
  padding: 1em;
  font-family: astro-space;
}
header a {
  color: #323232;
  background-color: #fff;
  text-decoration: none;
}

.main-content {
  padding: 1em;
  height: 100%;
}

.main-content a {
  color: hotpink;
}
footer {
  width: 100%;
  color: #fff;
  background-color: #323232;
  padding: 1em;
  position: fixed;
  bottom: 0;
}

footer a {
  color: hotpink;
}
