@font-face {
  font-family: "astro-space";
  src: url("webfont.otf");
  src: url("fonts/AstroSpace.ttf") format("truetype");
}

html,
body {
  font-family: Roboto, sans-serif;
  color: #fff !important;
  background-color: #083197 !important;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.container {
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0 !important;
  border: 0;
  min-width: 100% !important;
}

header {
  color: #323232;
  background-color: #fff;
  width: 100%;
  padding: 1em;
  font-family: astro-space;
}

header a {
  color: #323232;
  background-color: #fff;
  text-decoration: none;
}

.main-content {
  padding: 1em;
  height: 100%;
  padding-bottom: 150px;
}

.main-content a {
  color: hotpink;
}
footer {
  width: 100%;
  color: #fff;
  background-color: #323232;
  padding: 1em;
  position: absolute;
  bottom: 0;
  height: 150px;
}

footer a {
  color: hotpink;
}
